
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.header {
  text-align: center;
}

.nav {
  background-color: lightgray;
  height: 50px;
  width: 100%;
  h3 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  .nav-right {
    float: right;
    margin-top: 10px;
    i {
      margin-right: 35px;
      color: #9E9A9A;
    }
  }
}

.listItems {
  margin-top: 40px;
  .eachItem {
    width: 60%;
    height: 140px;
    background-color: #5F5858;
    border-radius: 3%;

    i {
      margin-left: 60px;
      margin-top: 40px;
    }
    p {
      margin-left: 33px;
      margin-top: 10px;
    }
  }
}
.recipeInfo {
    max-width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    .recipe-pic {
      display: inline-block;
      width: 140px;
      height: 140px;
      background-color: #5F5858;
      border-radius: 3%;
    }
    i {
      margin-left: 53px;
      margin-top: 35px;
    }
    .recipe-info {
      width: 60%;
      display: inline-block;
      float: right;
    }
    .recipe-ingredients{
      margin-top: 10px;
      .recipe-type {
        width: 27%;
        display: inline-block;
        margin-right: 10px;

      }
      #prep-time {
        width: 18%;
        display: inline-block;
        margin-right: 10px;
      }
      #cook-time {
        width: 18%;
        display: inline-block;
        margin-right: 10px;

      }
      #cook-temp {
        width: 18%;
        display: inline-block;
      }
      .temperature {
        width: 12%;
        display: inline-block;
      }
    }
}
.serving-info {
  #amount {
    width: 20%;
    margin-right: 10px;
    display: inline-block;
  }
  #ingredient {
    width: 38%;
    margin-right: 10px;
    display: inline-block;
  }
  .units {
    width: 25%;
    margin-right: 10px;
    display: inline-block;
  }
  button {
    width: 40px;
    height: 33px;
  }
  i {
    margin: 0;
  }
  .add {
    width: 140px;
    float: right;
    font-size: 12px;
    margin-top: 20px;
    display: block;

  }
}
#individualIngredient {
  #addIngredient {
    i {
        margin: -3px;
    }
  }
}
.ingredientItems {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    p:hover {
      cursor:default;
      color: red;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor:default;
    color: red;
}
.myList{
  margin-top: 20px;
  #each {
    background-color: #E91E63;
    border-radius: 3%;
    height: 90px;
    margin: 5px;

  }
}

.save {
  button {
    width: 75%;
    margin-top: 20px;
    margin-left: 55px;
  }
}
